<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rootservices.authorization.persistence.mapper.AccessRequestMapper">

    <resultMap id="accessRequest" type="org.rootservices.authorization.persistence.entity.AccessRequest">
        <id column="uuid" property="uuid" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="redirect_uri" property="redirectURI" jdbcType="VARCHAR" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.OptionalURITypeHandler"/>
        <result column="auth_code_uuid" property="authCodeUUID" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
        <collection property="scopes"
                    resultMap="org.rootservices.authorization.persistence.mapper.ScopeMapper.scope"
                    columnPrefix="scope_"
                    javaType="ArrayList"/>
    </resultMap>

    <insert id="insert">
        insert into access_request (uuid, resource_owner_uuid, client_uuid, redirect_URI)
        values (
            #{accessRequest.uuid},
            #{accessRequest.resourceOwnerUUID},
            #{accessRequest.clientUUID},
            #{accessRequest.redirectURI,  typeHandler=org.rootservices.authorization.persistence.mapper.typehandler.OptionalURITypeHandler}
        )
    </insert>
</mapper>