<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rootservices.authorization.persistence.mapper.AuthCodeMapper">

    <resultMap id="authCode" type="org.rootservices.authorization.persistence.entity.AuthCode">
        <result column="uuid" property="uuid" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="code" property="code" javaType="byte[]" jdbcType="BINARY" typeHandler="org.apache.ibatis.type.ByteArrayTypeHandler"/>
        <result column="expires_at" property="expiresAt"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="insert" >
        insert into auth_code (uuid, code, client_uuid, expires_at)
        values (#{authCode.uuid}, #{authCode.code}, #{authCode.clientUUID}, #{authCode.expiresAt})
    </insert>

</mapper>
