<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rootservices.authorization.persistence.mapper.ResourceOwnerMapper">

    <resultMap id="resourceOwner" type="org.rootservices.authorization.persistence.entity.ResourceOwner">
        <id column="id" property="id" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="email" property="email"/>
        <result column="password" property="password" javaType="byte[]" jdbcType="BINARY" typeHandler="org.apache.ibatis.type.ByteArrayTypeHandler"/>
        <result column="email_verified" property="emailVerified"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
    </resultMap>

    <insert id="insert" >
        insert into resource_owner (id, email, password)
        values (
            #{resourceOwner.id},
            #{resourceOwner.email},
            #{resourceOwner.password}
        )
    </insert>

    <select id="getById" resultMap="resourceOwner">
        select
            resource_owner.id,
            resource_owner.email,
            resource_owner.password,
            resource_owner.email_verified,
            resource_owner.created_at
        from resource_owner
        where id = #{id}
    </select>

    <select id="getByEmail" resultMap="resourceOwner">
        select
            resource_owner.id,
            resource_owner.email,
            resource_owner.password,
            resource_owner.email_verified,
            resource_owner.created_at
        from resource_owner
        where email = #{email}
    </select>
</mapper>