<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rootservices.authorization.persistence.mapper.ResourceOwnerMapper">

    <resultMap id="resourceOwner" type="org.rootservices.authorization.persistence.entity.ResourceOwner">
        <result column="uuid" property="uuid" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="email" property="email"/>
        <result column="password" property="password" javaType="byte[]" jdbcType="BINARY" typeHandler="org.apache.ibatis.type.ByteArrayTypeHandler"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
    </resultMap>

    <insert id="insert" >
        insert into resource_owner (uuid, email, password) values (#{authUser.uuid}, #{authUser.email}, #{authUser.password})
    </insert>

    <select id="getByUUID" resultMap="resourceOwner">
        select uuid, email, password, created_at
        from resource_owner
        where uuid = #{uuid}
    </select>

    <select id="getByEmail" resultMap="resourceOwner">
        select uuid, email, password, created_at
        from resource_owner
        where email = #{email}
    </select>
</mapper>