<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rootservices.authorization.persistence.mapper.ScopeMapper">

    <resultMap id="scope" type="org.rootservices.authorization.persistence.entity.Scope">
        <result column="uuid" property="uuid" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="name" property="name"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
    </resultMap>

    <insert id="insert" >
        insert into scope (uuid, name)
        values (#{scope.uuid}, #{scope.name})
    </insert>

    <select id="findByNames" resultMap="scope">
        select scope.uuid, scope.name, scope.created_at
        from scope
        where name in
        <foreach item="item" index="names" collection="names" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByName" resultMap="scope">
        select scope.uuid, scope.name, scope.created_at
        from scope
        where name = #{name}
    </select>

</mapper>