<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rootservices.authorization.persistence.mapper.TokenScopeMapper">

    <resultMap id="tokenScope" type="org.rootservices.authorization.persistence.entity.TokenScope">
        <id column="id" property="id" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="token_id" property="tokenId" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
        <result column="updated_at" property="updatedAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="org.rootservices.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
        <association property="scope"
                     resultMap="org.rootservices.authorization.persistence.mapper.ScopeMapper.scope"
                     columnPrefix="scope_"/>

    </resultMap>

    <insert id="insert">
        insert into token_scope (id, token_id, scope_id)
        values (
        #{tokenScope.id},
        #{tokenScope.tokenId},
        #{tokenScope.scope.uuid}
        )
    </insert>

</mapper>
