<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeHandlers>
        <typeHandler handler="org.rootservices.authorization.persistence.mapper.typehandler.UUIDTypeHandler"
                     javaType="java.util.UUID" jdbcType="OTHER" />

        <typeHandler handler="org.rootservices.authorization.persistence.mapper.typehandler.URITypeHandler"
                     javaType="java.net.URI" jdbcType="VARCHAR" />
    </typeHandlers>
</configuration>