<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rootservices.persistence.mapper.AuthUserMapper">

    <resultMap id="authUser" type="org.rootservices.persistence.entity.AuthUser">
        <result column="uuid" property="uuid" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="org.rootservices.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="email" property="email"/>
        <result column="password" property="password" javaType="byte[]" jdbcType="BINARY" typeHandler="org.apache.ibatis.type.ByteArrayTypeHandler"/>
        <result column="is_revoked" property="isRevoked"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="insert" >
        insert into auth_user (uuid, email, password) values (#{authUser.uuid}, #{authUser.email}, #{authUser.password})
    </insert>

    <select id="getByUUID" resultMap="authUser">
        select uuid, email, password, created_at
        from auth_user
        where uuid = #{uuid}
    </select>

    <select id="getByEmailAndPassword" resultMap="authUser">
        select uuid, email, password, created_at
        from auth_user
        where email = #{email} and password = #{password}
    </select>
</mapper>