<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tokensmith.authorization.persistence.mapper.AccessRequestScopesMapper">

    <resultMap id="accessRequestScope" type="net.tokensmith.repository.entity.AccessRequestScope">
        <id column="id" property="id" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="access_request_id" property="accessRequestId" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>

        <association property="scope"
            resultMap="net.tokensmith.authorization.persistence.mapper.ScopeMapper.scope"
            columnPrefix="scope_"/>

    </resultMap>

    <insert id="insert">
        insert into access_request_scopes (id, access_request_id, scope_id)
        values (
            #{accessRequestScope.id},
            #{accessRequestScope.accessRequestId},
            #{accessRequestScope.scope.id}
        )
    </insert>

</mapper>
