<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tokensmith.authorization.persistence.mapper.ProfileMapper">

    <resultMap id="profileLean" type="net.tokensmith.repository.entity.Profile">
        <id column="id" property="id" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="resource_owner_id" property="resourceOwnerId" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="name" property="name" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler"/>
        <result column="middle_name" property="middleName" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler"/>
        <result column="nick_name" property="nickName" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler"/>
        <result column="preferred_user_name" property="preferredUserName" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler"/>
        <result column="profile" property="profile" jdbcType="VARCHAR" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler"/>
        <result column="picture" property="picture" jdbcType="VARCHAR" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler"/>
        <result column="website" property="website" jdbcType="VARCHAR" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler"/>
        <result column="gender" property="gender" javaType="net.tokensmith.repository.entity.Gender" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalEnumTypeHandler"/>
        <result column="birth_date" property="birthDate" javaType="java.time.LocalDate" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalLocalDateTypeHandler"/>
        <result column="zone_info" property="zoneInfo" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler"/>
        <result column="locale" property="locale" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler"/>
        <result column="phone_number" property="phoneNumber" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler"/>
        <result column="phone_number_verified" property="phoneNumberVerified" />
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
        <result column="updated_at" property="updatedAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
    </resultMap>

    <resultMap id="profile" type="net.tokensmith.repository.entity.Profile" extends="profileLean">
        <association property="givenNames"
                     resultMap="net.tokensmith.authorization.persistence.mapper.GivenNameMapper.givenName"
                     columnPrefix="given_name_"/>
        <association property="familyNames"
                     resultMap="net.tokensmith.authorization.persistence.mapper.FamilyNameMapper.familyName"
                     columnPrefix="family_name_"/>
        <collection property="addresses"
                    resultMap="net.tokensmith.authorization.persistence.mapper.AddressMapper.address"
                    columnPrefix="address_"
                    javaType="ArrayList"
                    notNullColumn="id"/>
    </resultMap>

    <insert id="insert">
        insert into resource_owner_profile
        (
            id,
            resource_owner_id,
            name,
            middle_name,
            nick_name,
            preferred_user_name,
            profile,
            picture,
            website,
            gender,
            birth_date,
            zone_info,
            locale,
            phone_number,
            phone_number_verified
        )
        values (
            #{profile.id},
            #{profile.resourceOwnerId},
            #{profile.name, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            #{profile.middleName, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            #{profile.nickName, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            #{profile.preferredUserName, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            #{profile.profile, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler},
            #{profile.picture, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler},
            #{profile.website, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler},
            #{profile.gender, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalEnumTypeHandler},
            #{profile.birthDate, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalOffsetDateTimeTypeHandler},
            #{profile.zoneInfo, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            #{profile.locale, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            #{profile.phoneNumber, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            #{profile.phoneNumberVerified}
        )
    </insert>

    <update id="update">
        update resource_owner_profile
            set name =              #{profile.name, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            middle_name =           #{profile.middleName, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            nick_name =             #{profile.nickName, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            preferred_user_name =   #{profile.preferredUserName, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            profile =               #{profile.profile, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler},
            picture =               #{profile.picture, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler},
            website =               #{profile.website, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalURITypeHandler},
            gender =                #{profile.gender, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalEnumTypeHandler},
            birth_date =            #{profile.birthDate, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalLocalDateTypeHandler},
            zone_info =             #{profile.zoneInfo, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            locale =                #{profile.locale, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            phone_number =          #{profile.phoneNumber, typeHandler=net.tokensmith.authorization.persistence.mapper.typehandler.OptionalStringTypeHandler},
            phone_number_verified = #{profile.phoneNumberVerified},
            updated_at =            now()
        from resource_owner as ro
        where

        resource_owner_profile.resource_owner_id = ro.id and

        resource_owner_profile.id = #{profile.id} and
        ro.id = #{resourceOwnerId}

    </update>

    <select id="getById" resultMap="profileLean">
        select
            profile.id,
            profile.resource_owner_id,
            profile.name,
            profile.middle_name,
            profile.nick_name,
            profile.preferred_user_name,
            profile.profile,
            profile.picture,
            profile.website,
            profile.gender,
            profile.birth_date,
            profile.zone_info,
            profile.locale,
            profile.phone_number,
            profile.phone_number_verified,
            profile.updated_at,
            profile.created_at
        from resource_owner_profile as profile
        where profile.id = #{id}
    </select>

    <select id="getByResourceId" resultMap="profile">
        select
            profile.id,
            profile.resource_owner_id,
            profile.name,
            profile.middle_name,
            profile.nick_name,
            profile.preferred_user_name,
            profile.profile,
            profile.picture,
            profile.website,
            profile.gender,
            profile.birth_date,
            profile.zone_info,
            profile.locale,
            profile.phone_number,
            profile.phone_number_verified,
            profile.updated_at,
            profile.created_at,
            address.id as address_id,
            address.resource_owner_profile_id as address_resource_owner_profile_id,
            address.street_address as address_street_address,
            address.street_address2 as address_street_address2,
            address.locality as address_locality,
            address.region as address_region,
            address.postal_code as address_postal_code,
            address.country as address_country,
            address.updated_at as address_updated_at,
            address.created_at as address_created_at,
            given_name.id as given_name_id,
            given_name.resource_owner_profile_id as given_name_resource_owner_profile_id,
            given_name.given_name as given_name_given_name,
            given_name.created_at as given_name_created_at,
            given_name.updated_at as given_name_updated_at,
            family_name.id as family_name_id,
            family_name.resource_owner_profile_id as family_name_resource_owner_profile_id,
            family_name.family_name as family_name_family_name,
            family_name.created_at as family_name_created_at,
            family_name.updated_at as family_name_updated_at
        from resource_owner_profile as profile
        join resource_owner ro on ro.id=profile.resource_owner_id
        left join resource_owner_profile_address address on address.resource_owner_profile_id = profile.id
        left join resource_owner_profile_given_name given_name on given_name.resource_owner_profile_id = profile.id
        left join resource_owner_profile_family_name family_name on family_name.resource_owner_profile_id = profile.id
        where ro.id = #{resourceOwnerId}
    </select>
</mapper>
