<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tokensmith.authorization.persistence.mapper.AuthCodeTokenMapper">

    <resultMap id="authCodeToken" type="net.tokensmith.authorization.persistence.entity.AuthCodeToken">
        <id column="id" property="id" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <id column="auth_code_id" property="authCodeId" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <id column="token_id" property="tokenId" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
        <result column="updated_at" property="updatedAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
    </resultMap>

    <insert id="insert" >
        insert into auth_code_token (id, auth_code_id, token_id)
        values (
        #{authCodeToken.id},
        #{authCodeToken.authCodeId},
        #{authCodeToken.tokenId}
        )
    </insert>

    <select id="getByTokenId" resultMap="authCodeToken">
        select
            id,
            auth_code_id,
            token_id,
            created_at,
            updated_at
        from auth_code_token
        where token_id = #{tokenId}
    </select>
</mapper>