<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tokensmith.authorization.persistence.mapper.ConfidentialClientMapper">

    <resultMap id="confidentialClient" type="net.tokensmith.authorization.persistence.entity.ConfidentialClient">
        <id column="id" property="id" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="password" property="password" javaType="byte[]" jdbcType="BINARY" typeHandler="org.apache.ibatis.type.ByteArrayTypeHandler"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
        <association property="client"
                     resultMap="net.tokensmith.authorization.persistence.mapper.ClientMapper.client"
                     columnPrefix="client_"/>
    </resultMap>

    <insert id="insert">
        insert into confidential_client (id, client_id, password)
        values (
            #{confidentialClient.id},
            #{confidentialClient.client.id},
            #{confidentialClient.password}
        )
    </insert>

    <select id="getByClientId" resultMap="confidentialClient">
        select
            confidential_client.id,
            confidential_client.password,
            confidential_client.created_at,
            client.id as client_id,
            client.redirect_URI as client_redirect_URI,
            client.created_at as client_created_at,
            scope.id as client_scope_id,
            scope.name as client_scope_name,
            scope.created_at as client_scope_created_at,
            response_type.id as client_response_type_id,
            response_type.name as client_response_type_name,
            response_type.created_at as client_response_type_created_at,
            response_type.updated_at as client_response_type_updated_at
        from confidential_client
        join client on client.id = confidential_client.client_id
        join client_scopes on client_scopes.client_id = client.id
        join scope on scope.id = client_scopes.scope_id
        join client_response_type on client_response_type.client_id = client.id
        join response_type on response_type.id = client_response_type.response_type_id
        where client.id = #{clientId}
    </select>
</mapper>