<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tokensmith.authorization.persistence.mapper.NonceMapper">

    <resultMap id="nonce" type="net.tokensmith.authorization.persistence.entity.Nonce">
        <id column="id" property="id" javaType="java.util.UUID" jdbcType="OTHER" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.UUIDTypeHandler"/>
        <result column="active_nonce" property="nonce"/>
        <result column="revoked" property="revoked"/>
        <result column="spent" property="spent"/>
        <result column="expires_at" property="expiresAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>
        <result column="created_at" property="createdAt" javaType="java.time.OffsetDateTime" jdbcType="DATE" typeHandler="net.tokensmith.authorization.persistence.mapper.typehandler.OffsetDateTimeTypeHandler"/>

        <association property="nonceType"
                     resultMap="net.tokensmith.authorization.persistence.mapper.NonceTypeMapper.nonceType"
                     columnPrefix="nonce_type_"/>

        <association property="resourceOwner"
                     resultMap="net.tokensmith.authorization.persistence.mapper.ResourceOwnerMapper.resourceOwner"
                     columnPrefix="resource_owner_"/>

    </resultMap>

    <insert id="insert">
        insert into nonce (id, nonce_type_id, resource_owner_id, active_nonce, expires_at)
        values (
            #{nonce.id},
            #{nonce.nonceType.id},
            #{nonce.resourceOwner.id},
            #{nonce.nonce},
            #{nonce.expiresAt}
        )
    </insert>

    <select id="getById" resultMap="nonce">
        select
            nonce.id,
            nonce.active_nonce,
            nonce.revoked,
            nonce.spent,
            nonce.expires_at,
            nonce.created_at,
            nonce_type.id as nonce_type_id,
            nonce_type.name as nonce_type_name,
            nonce_type.seconds_to_expiry as nonce_type_seconds_to_expiry,
            nonce_type.created_at as nonce_type_created_at,

            resource_owner.id as resource_owner_id,
            resource_owner.email as resource_owner_email,
            resource_owner.active_password as resource_owner_active_password,
            resource_owner.email_verified as resource_owner_email_verified,
            resource_owner.created_at as resource_owner_created_at
        from nonce
        join nonce_type on nonce_type.id = nonce.nonce_type_id
        join resource_owner on resource_owner.id = nonce.resource_owner_id
        where nonce.id = #{id}
    </select>

    <select id="getByTypeAndNonce" resultMap="nonce">
        select
        nonce.id,
        nonce.active_nonce,
        nonce.revoked,
        nonce.spent,
        nonce.expires_at,
        nonce.created_at,

        nonce_type.id as nonce_type_id,
        nonce_type.name as nonce_type_name,
        nonce_type.seconds_to_expiry as nonce_type_seconds_to_expiry,
        nonce_type.created_at as nonce_type_created_at,

        resource_owner.id as resource_owner_id,
        resource_owner.email as resource_owner_email,
        resource_owner.active_password as resource_owner_active_password,
        resource_owner.email_verified as resource_owner_email_verified,
        resource_owner.created_at as resource_owner_created_at
        from nonce
        join nonce_type on nonce_type.id = nonce.nonce_type_id
        join resource_owner on resource_owner.id = nonce.resource_owner_id
        where nonce.active_nonce = #{nonce}
        and nonce_type.name = #{type}
        and nonce.revoked = false
        and nonce.spent = false
        and nonce.expires_at > current_timestamp
    </select>


    <select id="getByNonce" resultMap="nonce">
        select
        nonce.id,
        nonce.active_nonce,
        nonce.revoked,
        nonce.spent,
        nonce.expires_at,
        nonce.created_at,
        nonce_type.id as nonce_type_id,
        nonce_type.name as nonce_type_name,
        nonce_type.seconds_to_expiry as nonce_type_seconds_to_expiry,
        nonce_type.created_at as nonce_type_created_at,

        resource_owner.id as resource_owner_id,
        resource_owner.email as resource_owner_email,
        resource_owner.active_password as resource_owner_active_password,
        resource_owner.email_verified as resource_owner_email_verified,
        resource_owner.created_at as resource_owner_created_at

        from nonce
        join nonce_type on nonce_type.id = nonce.nonce_type_id
        join resource_owner on resource_owner.id = nonce.resource_owner_id
        where nonce.active_nonce = #{nonce}
    </select>

    <update id="revokeUnSpent">
        update nonce
        set revoked = true
        from nonce_type
        where resource_owner_id = #{resourceOwnerId}
        and nonce.spent = false
        and nonce.expires_at > current_timestamp
        and nonce_type.id = nonce.nonce_type_id
        and nonce_type.name = #{type}
    </update>

    <update id="setSpent">
        update nonce
        set spent = true
        where id = #{id}
    </update>

</mapper>